body {
    font-family: Arial, sans-serif;
    margin: 50px;
}

#resultado {
    margin-top: 20px;
    padding: 15px;
    border: 2px solid #3b3b3b;
    width: fit-content;
    background-color: #c5c5c5;
}

button {
        padding: 10px 15px;
        font-size: 16px;
}